<footer class="vp-50" id="contact">
  <section class="footer-container">
    <div class="footer-col">
      <h3 class="footer-header vm-10">Contact</h3>
      <h5 class="line-height-1-3">Email: <a class="primary-color" href="mailto: prab.dhaliwal95@gmail.com">Prab.dhaliwal95@gmail.com</a></h5>
      <h5 class="line-height-1-3">Phone Number: (647) 642-3917</h5>
      <h5 class="line-height-1-3">Location: Guelph, Ontario</h5>
      <div class="icon-containers mt-20">
        <a class="icon-link" href="https://www.linkedin.com/in/prabdeep-dhaliwal/" target="_blank">
          <div class="LinkedIn-icon"></div>
        </a>
        <a class="icon-link" href="https://github.com/prabdhal" target="_blank">
          <div class="GitHub-icon"></div>
        </a>
      </div>
      <br>
      <h5>&#169; 2020 Prabdeep Dhaliwal</h5>
    </div>
  </section>
</footer>