<ul class="dropdown-content" data-projects-drop-down>
  <li class="nav-list"><a href="/tower-defence-3d-enemy-wave" class="drop-link">Tower Defence 3D - Enemy Wave</a></li>
  <li class="nav-list"><a href="/basketball-score-app" class="drop-link">Basketball Score App</a></li>
  <li class="nav-list"><a href="https://blogposter-website.herokuapp.com/bLogPoster" target="_blank" class="drop-link">bLogPoster</a></li>
  <li class="nav-list"><a href="https://muvee-app.herokuapp.com/home" target="_blank" class="drop-link">Muvee App</a></li>
  <li class="nav-list"><a href="https://top-kicks-website.herokuapp.com/home" target="_blank" class="drop-link">Top Kicks Website</a></li>
  <li class="nav-list"><a href="/weather-app" class="drop-link">Weather App</a></li>
  <li class="nav-list"><a href="/todo-list-app" class="drop-link">Todo List App</a></li>
</ul>