<header>
  <nav>
    <div class="logo-container">
      <h1 class="logo-text secondary-color">Portfolio</h1>
    </div>
    <div class="nav-links">
      <a href="#home" class="nav-link"><li>Home</li></a>
      <a href="#about" class="nav-link"><li>About</li></a>
      <a href="#projects" class="nav-link"><li>Projects</li></a>
      <a href="#contact" class="nav-link"><li>Contact</li></a>
    </div>
    <div class="menu-btn">
      <div class="line secondary-bg-color"></div>
      <div class="line secondary-bg-color"></div>
      <div class="line secondary-bg-color"></div>
    </div>
  </nav>
</header>