<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;0,900;1,600;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC98IJySZF9PQGulNaIlTThhdxCvh3BJvk&libraries=places"></script>
  <link rel="stylesheet" href="/styles/style.css">
  <script rel="text/javascript" src="/responsive.js" defer></script>
  <script rel="text/javascript" src="/weatherScript.js" defer></script>
  <title>My Portfolio - Weather App</title>
</head>
<body>
  <header>
    <%- include('./_nav.ejs'); %>
  </header>

  <section class="vp-100 weather bg" id="weatherapp">
    <div class="content-bg">
      <h1 class="header">Weather App</h1><br>
      <div class="weather-input-container">
        <input class="search-box" type="text" placeholder="Search Location">
      </div><br>
      <main class="weather-information">
        <section class="location">
          <div class="city"></div>
          <div class="date"></div>
        </section>
        <img class="weather-icon">
        <div class="current">
          <div class="flex"><div class="temp"></div><sup class="temp-celsius">°c</sup></div>
          <div class="weather-condition"></div>
          <div class="hi-low"></div>
        </div><br>
        <section class="more-details">
          <div class="detail-title">Feels like<div class="details feels-like"></div></div>
          <div class="detail-title">Wind Speed<div class="details wind-speed"></div></div>
          <div class="detail-title">Humidity<div class="details humidity"></div></div>
          <div class="detail-title">Pressure<div class="details pressure"></div></div>
          <div class="detail-title">Sunrise<div class="details sunrise"></div></div>
          <div class="detail-title">Sunset<div class="details sunset"></div></div>
        </section>
      </main>
    </div>
    <br><br>
       
  </section>

  <%- include('./_footer.ejs'); %> 

</body>
</html>