.a-add-comment-btn {
  width: 100%;
  max-width: 200px;
  border: 0;
  outline: 0;
  padding: 5px;
  text-decoration: none;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
}
.add-comment-btn {
  width: 100%;
  max-width: 200px;
  border: 0;
  outline: 0;
  padding: 5px;
  text-decoration: none;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
}
